<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Persons</title>
</head>
<body>
<h>Create person</h>


<table>
    <form action="#" th:action="@{/save}" th:object="${theperson}" method="post">
        <tr>
            <td>Person Name</td>
            <td><input type="text" th:field="*{firstName}"/>


                 <td>Last Name</td>
           <td><input type="text" th:field="*{lastName}"/>

                <td>email</td>
            <td><input type="text" th:field="*{email}"/>

            <td>mobilnummer</td>
            <td><input type="text" th:field="*{mobilnumber}"/>

            <td>husdjur</td>
            <td><input type="text" th:field="*{husdjur}"/>


            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">save</button>
            </td>
        </tr>
    </form>


</table>



</body>
</html>